
.contact-box {
  background-color: #111;
  border-radius: 12px;
}

.map-box {
  border-radius: 12px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  min-height: 450px;
  border: 0;
}


@media (max-width: 992px) {
  .contact-box {
    padding: 20px;
  }

  .map-box iframe {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .contact-box {
    text-align: center;
  }

  .contact-box p {
    justify-content: center;
  }

  .contact-box form {
    text-align: left;
  }

  .map-box iframe {
    min-height: 300px;
  }
}


@media (max-width: 576px) {
  .contact-box h3 {
    font-size: 22px;
  }

  .map-box iframe {
    min-height: 250px;
  }

  .btn {
    width: 100%;
  }
}
