.logo-img{
  width:40px;
}
.footer-links li a{
  color: #aaa;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-links li a:hover {
  color: #d4af37;
  padding-left: 5px;
}
.footer-links li {
  color: #aaa;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-links li :hover {
  color: #d4af37;
  padding-left: 5px;
}

.bg-black h5 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}

.bg-black h2 {
  letter-spacing: 1px;
}

.bg-black + p {
  background-color: #000;
  font-size: 14px;
}
@media (max-width: 992px) {
  .bg-black h2 {
    font-size: 32px;
  }
}


@media (max-width: 768px) {
  .bg-black {
    text-align: center;
  }

  .footer-links li {
    justify-content: center;
  }
}


@media (max-width: 576px) {
  .bg-black h2 {
    font-size: 28px;
  }

  .bg-black p,
  .bg-black small {
    font-size: 14px;
  }
}
