
body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
}


.home {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/src/assets/watch-7.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-size: 70px;
  font-weight: 800;
  color: #d4af37;
  letter-spacing: 3px;
  opacity: 0;
  transform: translateY(30px);
  animation: titleReveal 1.2s ease-out forwards;
}

.home-subtitle {
  max-width: 650px;
  margin: auto;
  font-size: 16px;
  color: #ccc;
}

.call-button {
  background: #d4af37;
  color: #000;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.call-button:hover {
  background-color: #b89a2f;
  color: rgb(18, 16, 16);
}

@keyframes titleReveal {
  to {
    opacity: 1;
    transform: translateY(0);
    background: linear-gradient(90deg, #d4af37, #f9e79f, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* COLLECTION TITLES */
.collection-title {
  margin-top: 60px;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
}

.collection-heading {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* FEATURE BOXES */
.feature-box {
  background: #111;
  padding: 30px 20px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-8px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background: rgba(212, 175, 55, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  font-size: 22px;
  color: #d4af37;
}

.old-price {
  color: #777;
  text-decoration: line-through;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 992px) {
  .home-title {
    font-size: 55px;
  }
  .watch-image img {
    max-width: 150px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .home {
    padding: 40px 20px;
    height: auto;
    margin-top:50px;
  }
  .home-title {
    font-size: 42px;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
  }
  .watch-image img {
    max-width: 140px;
  }
  .button-2 {
    width: 100%;
    padding: 6px 0;
    font-size: 13px;
  }
  .home-subtitle {
    font-size:12px;
  }
 
}

@media (max-width: 576px) {
  .home-title {
    font-size: 45px;
    margin-top:10px;
  }
  .call-button {
    width: 100%;
  }
  .collection-heading {
    font-size:25px;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
  }
  .watch-image img {
    max-width: 120px;
  }
  .watch-content .name {
    font-size: 14px;
  }
  .button-2 {
    padding: 6px 0;
  }
   .call-button{
    padding:6px 6px;
    margin-top:5px;
  }
  .home-title2{
    font-size:23px;
    margin:5px 0px;
  }
}
